#content {
	color: #000;
	text-align: center;
	width: 60%;
	background-color: #FFFFCC;
	border-width: .2em;
	border-style: solid;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
    background-image:url('../images/background2.jpg');
    background-repeat:repeat;
}
body {
	color: #FFF;
	background-color: #0F0F1F;
	font-family: Sans-serif;
}
